body{
	background:black;}

.text{
	color: white;
	font-family: "Bahnschrift Condensed";
	margin-left: 25px;}

a{
	text-decoration: none;}
    
h2{
    font-size: 26px;}

p{
    color:white;
    font-family: "Bahnschrift Condensed";
    font-size: 20px;}

.text1, .text1 a{
    color: white;
	font-family: "Bahnschrift Condensed";
	margin-left: 20px;
    border-left-style: solid;
    border-color: rgb(140, 83, 255);
    padding-left: 10px;
    background:linear-gradient(90deg, rgba(120, 63, 235, 0.6), black );
    width: 250px;}

.img2{
	margin-left: 15px;
	margin-right: 80px;
	margin-top: 15px;
	margin-bottom: 20px;
	background: black;}

.uphead{
    box-shadow: 3px 7px 10px 5px rgba(120, 63, 235, 0.5);
    display:block;
    background:black;
    width: 1495px;
    border: 4px solid rgba(120, 63, 235, 1.0);
    border-spacing: 20px;
    border-radius: 5px;	
    margin-bottom: 30px;}	
	
.upheadtov{
	display:block;
    background:black;
    width: 1495px;
    margin-bottom: 30px;}

.textov1{
	font-size: 50px;
	color: white;
	font-family: "Bahnschrift Condensed";
	margin-left: 20px;
    border-left-style: solid;
    border-color: rgb(140, 83, 255);
   	padding-left: 10px;
    background:linear-gradient(90deg, rgba(120, 63, 235, 0.6), black );
    width: 500px;}